

* {
  box-sizing: border-box;
}

:root {
  --primary: #FFF9E9;
  --secondary:#89B200;
  --tertiary: #D49A3A;
  --light: rgb(255, 189, 145);
  --black: rgb(46, 20, 3);

}

html,
body {
  min-height: 100%;
}

body {
  font-family:'Times New Roman', Times, serif;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);
}

header {
  background-color: var(--primary) ;
  border-bottom: 1px solid var(--black);
  position: sticky;
  top: 0;
  z-index: 9999; 
}

.section-title {
/* background-color: rgb(44, 44, 44, 0.6); */
padding: 0 0 50px 0;
margin: 20px 0 0 0;
/* margin-top: -70px; */
}

h1 {
  margin: 10px;
}

ul {
  list-style-type: none; 
}

li {
  padding: 20px 20px 0 0;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

section {
  padding: 0 0 100px 0;
  border-bottom: 1px solid var(--black);
}

footer {
  background: var( --tertiary);
  color: var(--primary)
}

a {
  color: var(--black);
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;
  border-color: var(--light);
  cursor: pointer;
 
  
}

.href-links {
  color: var(--black);
  text-decoration: none;
}

.href-links:hover {
  color: var(--tertiary);
  text-decoration: none;
  cursor: pointer;
}

.form {
  padding: 0 50px 0 20px;
}

.project-cards {
  margin: 20px;
  background-color: var(--light);
}

.card-background {
  background-color: var(--primary);
}

.project-img {
  max-height: 200px;
  object-fit: cover;
  object-position: top;
  top: 0;
}

.deploy-btn {
  color: var(--secondary);
  text-decoration: none;
} 

.deploy-btn:hover {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
} 

.project-github-btn {
  padding-top: 10px;
}

.navActive {
  color: var(--tertiary);
  text-decoration: none;
}

.navActive {
  cursor: pointer;
}
